@use './colors' as *;
@use './components' as *;

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    background-color: $main-color;
    color: $navy-color;
}

.nav-background{
    background-color: rgba($color: #f5f5f8, $alpha: 0.75);
    border-bottom: 1px solid #aaaad8;
}


.burger-btn{
    position: fixed;
    top: 0.5em;
    right:0.5em;
    padding: 1em;
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 1000;
    
    &:focus{
        outline: none;
        border: 1px solid $navy-color;
        border-radius: 8px;
    }

    &__box{
        position: relative;
        width: 40px;
        height: 30px;
    }
    
    &__bars{
    position: absolute;
    width: 100%;
    right: 0;
    height: 3px;
    background-color: $navy-color;
    } 

    &__one{
        transition: 0.3s ease-in-out;
    }

    &__two{
        top: 13px;
        width: 100%;
    }

    &__three{
        transition: 0.3s ease-in-out;      
        top: 27px;
        width: 100%;
    }

}

.burger-active{
    .burger-btn__one{
        transition: 0.3s ease-in-out;
        top: 50%;
        transform: rotate(45deg);
    }

    .burger-btn__two{
        width: 0;
    }

    .burger-btn__three{
        transition: 0.3s ease-in-out;
        top: 50%;
        transform: rotate(-45deg);
    }
}


.nav{
    transition: 1s ease-in-out;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

    &__logo{
        position: relative;
        &-img{
            position: absolute;
            top: 70%;
            width: 150px;
        }
    }

    &__item{
        position: relative;
        top: 10%;
        margin-top: 0.5em;
        padding: 1.2em 1.5em;
        font-size: 2.2rem;
        text-decoration: none;
        color: $navy-color;
        transition: width 0.3s;
    }

    &__item::before, &__item::after{
        content: '';
        position: absolute;
        width: 0;
        bottom: 0;
        border-bottom: 2px solid $navy-color;
    }

    &__item::before{
        right: 50%;
    }

    &__item::after{
        left: 50%;
    }

    &__item:hover::before, &__item:hover::after{
        transition: width 0.3s;
        width: 50%;
    }

    &__item:last-of-type::after, &__item:last-of-type::before{
        display: none;
    }

    &__logo{
        padding: 1em;
        margin: 1em;
        align-self: start;
    }

    &-mobile{
        position: fixed;
        height: 80px;
        z-index: 100;
        background-color: $main-color;
        border-bottom: 1px solid #aaaad8;
    }

    &-content{
        transition: .5s cubic-bezier(0.65, 0.05, 0.36, 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        transform: translateX(100%);
        background-color: $main-color;
    }

    &--active{
        transform: translateX(0);
    }

    &__btn{
        cursor: pointer;
        padding: 0.6em 1.4em;
        font-weight: bold;
        font-size: 2.2rem;
        border: none;
        border-radius: 30px;
        background-color: $navy-color;
        color: $main-color;
        transition: background-color 1s;

        &::before{
            background-color:$light-navy;
        }
    }

    &-desktop{    
        display: none;
    }

}

.active{
    color: $green-color;
}



.header{
    position: relative;
    height: 100vh;

&__sides{
    display: flex;
    width: 100%;
    height: 100%;
}

    &__left{
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: $main-color;
        background-color: $navy-color;
    }

    &__right{
        display: none;
    }

    &__heading{
        display: flex;
        justify-content: start;
        align-items: start;
        margin-bottom: 0.5em;
        text-transform: uppercase;
        font-style: italic;
        font-size: 4rem;

        &-thin{
            margin-right: 0.3em;
            font-style: normal ;
            font-weight: 300;
        }
    }

    &__text{
        margin-bottom: 1em;
        text-align: center;
        font-size: 2.4rem;
    }

    &__btn {
        padding: 0.7em 1.4em;
        top: 5%;
        border: none;
        border-radius: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        background-color: $cta-color;
        color: $main-color;
        cursor: pointer;
        text-transform: uppercase;
        transition: color 1s, transform 1s;
        position: relative;
        overflow: hidden;
        font-size: 2rem;
      }
      
      &__btn:hover {
        color: $cta-color;
        transform: scale(1);
      }
      
      &__btn::before {
        content: "";
        position: absolute;
        left: -50px;
        top: 0;
        width: 0;
        height: 100%;
        background-color: $main-color;
        transform: skewX(45deg);
        z-index: -1;
        transition: width 1s;
      }
      
     &__btn:hover::before {
        width: 250%;
      }
    }

.footer{
    padding-top: 2em;
    text-align: center;
    background-color: $navy-color;
    color: $main-color;
    
    &__content{
        display: flex;
        padding-left: 2em;
        margin-bottom: 0.5em;

        &-icon{
            margin-top: 0.2em;
            width: 40px;
            height: 40px;
        }
    }
    &__box{
        padding-bottom: 1.5em;
        &-info{
            margin-bottom: 3em;
            font-weight: bold;
        }

        &-heading{
            margin-bottom: 1.5em;
            font-size: 2.5rem;
        }
        &-text{
            margin: 0.5em;
            font-size: 1.8rem;
        }
        &-icon{
            margin: 0.7em;
            height: 2.5em;
            width: 2.5em;
            cursor: pointer;
            transition: transform 0.3s;
        }

        &-icon:hover{
           transform: scale(1.1);
        }
        
    }

    &__bottom-text{
        border-top: 1px solid $main-color;
        padding-top: 1em;
        padding-bottom: 1.5em;
    }
}

.services{

    &__img{
        width: 70%;
    }

    &__box{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 2em 0;
        padding: 1em;



        &-img{
            align-self: center;
        }

        &-heading{
            padding: 1em 0;
            font-size: 2.8rem;
        }

    }
}

.aboutus{
    padding-bottom: 3em;
    background-color: $navy-color;
    color: $main-color;

    &__box{
        &-text{
            padding: 1em;
        }
    }

    &__img{
        padding: 0 1em;
        width: 100%;
        text-align: center;
    }
}

.work{
    .timeline{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 5em;
    }

    &__box{
        align-self: normal;
        margin-bottom: 2em;
        width: 100%;
        padding: 1em;
        width: 80%;
        border-radius: 10px;
        border: 1px solid $navy-color;
        margin:1em auto;
        &-heading{
            font-size: 2.1rem;
            margin-bottom: 1em;
        }

        &-text{
            font-size: 1.6rem;
        }

        &-bg{
            display: none;
        }
    }
}

.contact{

    .privacy-policy{
        color: $main-color;
        font-weight: bold;
        text-decoration: none;
    }

    &__icon{
        margin-right: 1em;
        width: 1.2em;
    }

    &__left{
        padding: 0 2em;
        margin-bottom: 2em;
    }

    &__heading{
        margin-bottom: 1em;
        font-style: italic;
        font-size: 3.2rem;
        text-align: center;
    }

    &__right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3em 2em;
        background-color: $navy-color;
        color: $main-color;
        border-bottom: 1px solid $main-color;
    }
    
    &__form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__info{
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }

    &__box{
        margin-bottom: 1em;
        position: relative;
        font-size: 1.8rem;

    }

    &__text{
        font-size: 1.2rem;
        margin-top: 2em;
    }

    &__box:last-of-type{
        margin-bottom: 0;
    }

&__text{
    font-size: 1rem;
    margin-top: 2em;
}

    &__numbers{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5em;
    }

    &__input:first-child{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    &__input::placeholder, &__textarea::placeholder{
        font-size: 1.6rem;
        color: $main-color;
    }


    &__input, &__textarea{
        border-radius: 10px;
        width: 100%;
        color: $main-color;
        background-color: #9c9cbb27;
        border: none;
    }

    &__input{
        padding: 1em 1em;
        border-bottom: solid 1px rgba($color: #f6f6f9, $alpha: 0.3);
    }

    &__label{
        font-size: 1.4rem;
    }
    &__textarea{
        padding:0.7em 1em 5em;
        margin-bottom: 2em;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    &__btn{
        padding: 0.6em 1.2em;
        font-size: 2rem;
        border: none;
        border-radius: 10px;
        color: $main-color;
        background-color: $green-color;
        cursor: pointer;
        
        &::before{
            background-color: #274d55;
        }
    }

    
    &__form{
    margin-top: 1em;
    }

    &__social{
        display: flex;
        justify-content: center;
        margin-top: 2em;

        &-icon{
            margin: 0 0.5em;
            width: 3rem;
            height: 3rem;
            cursor: pointer;
            transition: transform 0.3s;
        }

        &-icon:hover{
            transform: scale(1.1);
        }
    }

    .msg-status{
        display: none;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        transform: translate(-50%);
        padding: 2em;
        font-size: 2.5rem;
        width: 600px;
    }


    .success{
        display: flex;
        background-color: rgb(106, 202, 106);
    }

    .error{
        display: flex;
        background-color: #fc2c2c;
    }
}

@media(min-width: 576px){
    .aboutus{
        text-align: center;
        &__img{
            margin-top: 1em;
            width: 80%;
        }
    }

    .footer{
        &__content{
            justify-content: center;
        }
    }

    .services{
        &__img{
            width: 60%;
        }
    }
}
@media(min-width: 768px){

    .nav{
        &__item{
            padding: 0.8em;
            font-size: 2.8rem;
        }

        &__logo{
            &-img{
                top: 60%;
                width: 200px;
            }
        }
    }

    .header{
        &__heading{
            font-size: 5.2rem;
        }
    
        &__text{
            font-size: 2.8rem;
        }
    
        &__btn{
            top: 3%;
            font-size: 2.5rem;
        }

    }

    .footer{
        padding-top: 3.5em;

        &__box{
            margin-left: 2em;
            &-heading{
                font-size: 3rem;
            }
        }

        &__bottom-text{
            padding: 1.5em;
            font-size: 2rem;
        }
    }
    .services{


            // &__img{
            //     width: 50%;
            // }

        padding: 1.5em;
        &__box{
    padding-top: 3em;
            &-heading{
                font-size: 3.1rem;
            }
    
            &-text{
                text-align: center;
            }
    
            &-info{
                font-size: 1.8rem;
            }
        }
    }

    .aboutus{

        &__img{
            margin-top: 1.5em;
            width: 70%;
        }
    }

    .work{
        .timeline{
            flex-wrap: wrap;
            flex-direction: row;
        }
        &__box{
            margin: 1em;
            width: 40%;

            &-heading{
                font-size: 2.5rem;
            }

            &-text{
                margin-bottom: 1em;
            }
        }
    }

    .contact{
        margin: 0;

        &__heading{
            font-size: 3.5rem;
        }

        &__label{
            margin-left: 0.5em;
            font-size: 1.6rem;
        }

        &__info{
            font-size: 2.5rem;
        }

        &__numbers{ 
            font-size: 2rem;
        }

    }
}

@media(min-width: 992px){

    .header{
        &__heading{
            font-size: 6rem;
        }
    
        &__text{
            font-size: 3rem;
        }
    
        &__btn{
            font-size: 3rem;
        }

    }

    .footer{
        padding-top: 4em;
            &__content{
                justify-content: start;
                padding-left: 0;
            }
            &__box{
                display: flex;
                justify-content: space-between;
                &-heading{
                    margin-right: 1em;
                    font-size: 3.5rem;
                }
    
                &-social{
                    display: flex;
                    align-items: end;
                    margin-bottom: 3em;
                }
            }
    }
    
    .services{

        &__box{
            position: relative;
            flex-direction: row;
            margin: 3.5em 0;

            &--right{
                flex-direction: row-reverse;
            }

            &-img{
                width: 50%;
            }

            &-heading{
                font-size: 3.3rem;
            }
    
            &-text{
                right: 0;
                width: 50%;
                text-align: left;
            }
            &-info{
                font-size: 1.8rem;
            }
    
        }
    }

    .aboutus{
        text-align: left;
        &__box{
            display: flex;
            transform: translateY(-10%);

            &-info{
                width: 100%;
                padding:0 1em;
                align-self: center;
            }
            &-text{
                padding: 1em;
                font-size: 1.8rem;
            }
            
        }  
        &__img{
            width: 100%;
        }
    }

    .work{
    
        .timeline{
            display: block;
            overflow: hidden;
        }
        .timeline::after{
            content: '';
            position: absolute;
            width: 8px;
            height: 100%;
            background-color: $navy-color;
            left: 50%;
            top: 0;
            margin-left: -3px;
        }
    
        &__box:first-of-type{
            margin-top: 3em;
            transform: translateY(0);
        }

        &__box{
            position: relative;
            transform: translateY(-20%);
            padding: 1.5em;
            width: 50%;
            border: none;
    
            &--left{
                padding-right: 8em;
                left: 11px;
            }
    
            &--right{
                padding-right: 1em;
                padding-left: 6em;
                left: 480px;
            }
    
            &--left::after{
                left: 90%;
            }
    
            &--right::after{
                right: 92%;
            }

            &-heading{
                margin-bottom: 0.5em;
                font-size: 3rem;
            }
    
            &-text{
                font-size: 1.8rem;
            }
    
            &-bg{
                position: absolute;
                top: -35%;
                z-index: 0;
                color: rgba($color: #282957, $alpha: 0.15);
                font-size: 33rem;
                font-weight: bold;
            }
    
            &-bgLeft{
                display: block;
                left: 0;
            }
    
            &-bgRight{
                display: block;
                left: 15%;
            }
        }
    

    }

    .contact{ 
        .wrapper{
            display: flex;
        }
        &__right{
            border-bottom: none;
            padding: 6em 2em;
            width: 55%;
        }

        &__heading{
            text-align-last: left;
            font-size: 3.8rem;
        }

        &__left{
            width: 45%;
            transform: translateY(20%);
        }

        &__info{
            margin-bottom: 2em;
            text-align: left;
            font-size: 2.2rem;
        }
    
        &__numbers{
        justify-content: start;
            &-text{
                font-size: 2rem;
            }
        }
    
        &__text{
            font-size: 1.4rem;
            margin-top: 2.5em;
        }

        &__input::placeholder, &__textarea::placeholder{
            font-size: 1.8rem;
            color: $main-color;
        }
    
        &__input{
            font-size: 1.8rem;
        }

        &__textarea{
            height: 150px;
            padding:0.7em 1em 1em;
            font-size: 1.8rem;
            margin-bottom: 3em;
        }
    
        &__btn{
            font-size: 2.2rem;
        }

    
        &__form{
        color: $main-color;
        margin-top: 2em;
        font-size: 1.8rem;
        }

        &__social{
            margin-top: 3em;
            justify-content: start;
        }
    }
}

@media(min-width: 1200px){

    .burger-btn{
        display: none;
    }

    .nav{
        position: fixed;
        flex-direction: row;
        transform: translateX(0);
        text-align: right;
        &__left{
            width: 50%;
            transform: translate(-90%, -10%);
        }

        &__right{
            width: 50%;
            transform: translatex(-5%);
        }
        &__item{
            padding: 1em;
            font-size: 1.9rem;
        }

        &-mobile{
            position: fixed;
            display: none;
        }

        &__btn{
            font-size: 2rem;
        }

        &-desktop{
            display: flex;
            padding-top: 1em;
            padding-bottom: 1.5em;
        }
    }

    .header{
        &__left{
            width: 50%;
        }

        &__right{
            position: relative;
            display: flex;
            width: 50%;
            display: block;

            &-img{
                position: absolute;
                width:550px;
                top: 25%;
            }
        }

        &__heading{
            margin-bottom: 0.5em;
            font-size: 6.5rem;
        }

        &__text{
            margin-bottom: 1em;
            font-size: 3.2rem;
        }
    
        &__btn{
            top: 0;
            padding: 0.6em 1.2em;
            font-size: 2.8rem;
        }
    }

    .services{

        &__box{
            margin: 5em 0;
            &-heading{
                font-size: 3.7rem;
            }
            &-info{     
                font-size: 2rem;
            }
    
        }
    }

    .footer{
        padding-top: 5em;
        &__box{
            &-info{
                p{
                    font-size: 2.2rem;
                }
            }
        }
    }

    .aboutus{
        &__box{
            margin-top: -2.5em;
            &-text{
                font-size: 2rem;
            }   
        }  
    }

    .work{

        &__box{
            &-bg{
                top: -40%;
                font-size: 30rem;
            }

            &-heading{
                font-size: 3.5rem;
            }

            &-text{
                font-size: 2rem;
        }

        &--left{
            padding-right: 8em;
            left: 10px;
        }

        &--right{
            padding-right: 1em;
            padding-left: 6em;
            left: 600px;
        }
        &--left::after{
            left: 91.5%;
        }

        &--right::after{
            right: 98.5%;
        }
    }
    }

    .contact{
        overflow: hidden;

        &__card{
            display: flex;
        }

        &__heading{
            font-size: 4rem;
        }

        &__box{
            margin-bottom: 2em;
        }

        &__right{
            position: relative;
            width: 55%;
            padding: 3em;
        }

    &__text{
        font-size: 1.6rem;
    }
        &__right::after{
            bottom: 0;
            left: 100%;
            position: absolute;
            height: 100%;
            width: 100%;
            content: '';
            background-color: $navy-color;
        }

        &__left{  
            padding-top: 2em;
            padding-left: 0;
            width: 45%;
        }

        &__info{
            font-size: 2.5rem;
            margin-bottom: 1.5em;
        }
    
        &__numbers{
            margin: .3em 0;
            padding-right: 2em;
            padding-left: 0;
            font-size: 1.7rem;
        }


        &__social{
            &-icon{
                margin-top: 3em;
                margin-left: 0;
                margin-right: 2em;
                width: 4.5rem;
                height: 4.5rem;
            }
        }
}
}

@media(min-width: 1600px){

    .header{
        &__right{
        &-img{
            width: 700px;
            top: 20%;
        }
    }
    }
}
